# **ASSIGNMENT -12**

# 1.Write a python program to find the number of times 4 appears on the tuple

# input:

# tuplex=(2,4,5,6,2,3,4,4,7)
# output =3

In [12]:
# Define the tuple
t = (2, 4, 5, 6, 2, 3, 4, 4, 7)

# Count the occurrences of 4 in the tuple
count = t.count(4)

# Print the result
print("The occurence of 4 in tuple is",count)

The occurence of 4 in tuple is 3

#2)Write a python program to convert a list to a tuple

# input:

# listx=[5,10'7,4,15,3]
# output
# (5,10,7,4,15,3)

In [13]:
# Define the list
listx = [5, 10, 7, 4, 15, 3]

# Convert the list to a tuple manually using a loop
tup = ()
for item in listx:
    tup += (item,)

# Print the result
print(tup)

(5, 10, 7, 4, 15, 3)

# 3)Write a python program to calculate the sum of the numbers in a given tuple

# input

# tuple_list=[(1,2),(3,4),(5,6)]

# output:

# sum of values in the tuple :21

In [14]:
# Define the list of tuples
tuple_list = [(1, 2), (3, 4), (5, 6)]

# Initialize a variable to hold the total sum
total_sum = 0

# Iterate through each tuple and add the sum of its elements to the total
for tup in tuple_list:
    for num in tup:
        total_sum += num

# Print the result
print("Sum of values in the tuple:", total_sum)

Sum of values in the tuple: 21

#4.Write a python program and iterate the gib=ven tuples

#input:

#employee1=("John Doe",101,"Human Resources",60000)
#employee2=("Alice Smith",102,"Marketing",55000)
#employee3=("Bob Johnson",103,"Engineerng",75000)

#Output:

#Employee Records
----------------
#Name: John Doe
#Emplyoee Id:101
#Department:Human Resources
#Salary:60000
--
#Name: Alice Smith
#Emplyoee Id:102
#Department:Marketing
#Salary:55000
--
#Name: Bob Johnson
#Emplyoee Id:103
#Department:Engineerng
#Salary:75000

In [15]:
# Define the employee tuples
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# Create a tuple of employee tuples
employees = (employee1, employee2, employee3)

# Print Employee Records
print("Employee Records")
for employee in employees:
    print(f"Name: {employee[0]}")
    print(f"Employee Id: {employee[1]}")
    print(f"Department: {employee[2]}")
    print(f"Salary: {employee[3]}")
    print("--")

Employee Records
Name: John Doe
Employee Id: 101
Department: Human Resources
Salary: 60000
--
Name: Alice Smith
Employee Id: 102
Department: Marketing
Salary: 55000
--
Name: Bob Johnson
Employee Id: 103
Department: Engineering
Salary: 75000
--