# **ASSINMENT 03**

# 1.Python Program to check Leap Year

In [ ]:
#take user input as year

year =int(input("Enter the year :\t"))

#code to check the year is leap year or not

if (year%400 == 0) or (year%4==0 and year%100!=0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter the year :	2024
Leap Year

# 2.Python Program to find thelargest amoung three numbers

In [ ]:
#get 3 numbers from user

num1=int(input("Enter the first number:\t"))
num2=int(input("Enter the Second number:\t"))
num3=int(input("Enter the Third number:\t"))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is\t", largest)

Enter the first number:	4
Enter the Second number:	7
Enter the Third number:	9
The largest number is	 9

# 3.Python program to check if a number is positive negative or zero

In [ ]:
#user input to get a num

number=int(input("Enter the number\t"))

#logic

if(number>0):
  if(number==0):
    print("number is zero")
  else:
    print("'number' is Positive")
else:
  print("number is Negative")

Enter the number	-8
number is Negative

# 4.A Toy Vendor supplies three types of toys:Battery -Based ,Key-Based and Electrical charging -Based toys.

# ->The vendor gives a discount of 10% on orders for Battery -Based toys if the orderis for more than Rs 1000
# ->on orders for more than 100 for Key-Based toys , a discount of 5% is given

# ->and a discount of 10% is given on orders for Electrical charging -Based toys of value more than Rs 500

# Assume that the numeric code 1 2 and 3 are used for Battery -Based ,Key-Based and Electrical charging -Based toys respectively.
# Write a Program that reads the product code and the order amount and print out the net amount that the customer is required to pay after the discount.

In [ ]:
# Get input from user
product_code = int(input("Enter the product code (1 for Battery-Based, 2 for Key-Based, 3 for Electrical Charging-Based): "))

# Check if the product code is valid (1, 2, or 3)
if product_code not in [1, 2, 3]:
    print("Invalid product code! Please enter a valid product code (1, 2, or 3).")
else:
    order_amount = float(input("Enter the order amount: Rs "))

    # Initializing  discount vriable  to 0 (no discount by default)
    discount = 0

    # Check for the discount based on the product code and order amount
    if product_code == 1 and order_amount > 1000:  # Battery-Based toys
        discount = 0.10  # 10% discount
    elif product_code == 2 and order_amount > 100:  # Key-Based toys
        discount = 0.05  # 5% discount
    elif product_code == 3 and order_amount > 500:  # Electrical Charging-Based toys
        discount = 0.10  # 10% discount

    # Calculate the final amount after applying the discount
    net_amount = order_amount - (order_amount * discount)

    # Display the final amount to be paid
    print(f"The net amount to be paid after discount is: Rs {net_amount:.2f}")

Enter the product code (1 for Battery-Based, 2 for Key-Based, 3 for Electrical Charging-Based): 8
Invalid product code! Please enter a valid product code (1, 2, or 3).

5.A Transport Company Charges the fare According to following table:

Distance                             |          Charges
-------------------------------------|----------------------------------------
1 - 50                               |          8Rs/km
51 -100                              |          10Rs/km
>100                                 |          12Rs/km

In [ ]:
# Get input from user for the distance traveled
distance = float(input("Enter the distance traveled in km: "))

# calculating fare
if distance <= 50:
    fare = distance * 8  # 8 Rs/km for distances up to 50
elif distance <= 100:
    fare = distance * 10  # 10 Rs/km for distances between 51 and 100
else:
    fare = distance * 12  # 12 Rs/km for distances greater than 100

# display the fare
print(f"The total fare for {distance} km is: Rs {fare:.2f}")

Enter the distance traveled in km: 78
The total fare for 78.0 km is: Rs 780.00