# **ASSIGNMENT -13**

#1.Write a python program to get only unique items frm two sets

#input:
#set1={10,20,30,40,50}
#set2={30,40,50,60,70}

#output
#{70,40,10,50,20,60,30}

In [1]:
# Given 2 sets Set1 and Set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# using the union() function extracting unique numbers
unique_num = set1.union(set2)

# Print the result
print(unique_num)

{70, 40, 10, 50, 20, 60, 30}

#2.Write a python program to return a set of elements present in a set A or B , but not both

#Input:
#set1={10,20,30,40,50}
#set2={30,40,50,60,70}

#Output:
#{20,70,10,60}

In [2]:
# Setting 2 Sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

#The symmetric difference will return elements that are in either one of the sets, but not in both.

# Get the symmetric difference between set1 and set2[Set1^Set2]
result = set1.symmetric_difference(set2)

# Print the result
print(result)

{20, 70, 10, 60}

#3.Write a python program to check if two sets have any elements in common.If yes ,display the common elements

#Input

#Set1={10.20,30,40,50}
#Set2={60,70,80,90,10}

#Output :
#{10}

In [5]:
# Initializing 2 sets
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

# intersection() method which returns a new set containing only the elements that are common to both sets.

#using intersection() will get common elements
common_elements = set1.intersection(set2)

#if else to check if common elements then to display elements
if common_elements:
    print("The Common Elements of Set1 & Set2 is :",common_elements)
else:
    print("No common elements")

The Common Elements of Set1 & Set2 is : {10}

#4.Write a python program to Remove items from set1 that are not common to both set1 and set2

#Input:
#Set1={10,20,30,40,50}
#set2={30,40,50,60,70}

#Output
#{40,50,30}

In [6]:
# Defining Sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Use list comprehension to keep only common elements
set1 = {x for x in set1 if x in set2}

# Print the updated set1
print(set1)

{40, 50, 30}